/.idea/
/.git/
/.tmp/
/.vscode/

**/.obsidian/
**/node_modules/
**/bin/
**/obj/
**/dist/
**/tmp/
**.env
**.codex
**/appsettings.Development.json

/apps/demos/

dotnet/Querify.Sample.Ai.Generation/appsettings.json
Querify.sln.DotSettings.user

